/*--- GENERAL STYLES ---*/

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

.main-content {
    padding-top: 90px;
    text-align: center;
    position: static;
    /*top: 100px;*/
}

/*--- CONTAINERS ---*/

.flex-container {
    display: flex;
}


/*--- HEADER ---*/

header {
    background-color: black;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo {
    height: 50px;
    padding-left: 10px;
}

nav span {
    padding: 0 20px;
}

nav a {
    color: seashell;
}


/*--- CONTENT ---*/

#mission {
    display: flex;
    background-image: url(../images/img-mission-background.jpg);
    background-size: cover;
    width: 1200px;
    height: 700px;
    align-items: center;
    margin: 0 auto;
}

.mission-text {
    background-color: black;
    width: 100%;
    text-align: center;
}

/*--- TEA OF THE MONTH ---*/

#month {
    width: 1000px;
    margin: 0 auto;
}

.month-teas {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pictures {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.teas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 30px;
}

.teas h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}


/*--- LOCATIONS ---*/

#locations {
    background-image: url(../images/img-locations-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    height: 500px;
    width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    
}

.address-block {
    display: inline-flex;
    justify-content: center;
    margin: 15px;
}

.address {
    background-color: black;
    line-height: 40px;
    width: 300px;
    opacity: 1;
    margin: 0 20px;
    align-items: flex-start;
}

.title-location {
    margin-bottom: 0;
    margin-top: 20px;
}


/*--- FOOTER ---*/

.contact {
    height: 200px;
}

.copy {
    text-align: left;
    margin-left: 20px;
}












